<html>
<head>
    <title>Anagram Generator!</title>
</head>

<body>
    <h1>Anagram Generator</h1>

    <form action="/view_matches">
        <label for="main_word">Enter your main word:</label>
        <input name="main_word" id="main_word" type="text">

        <form action="/view_matches">
            <label for="array_of_words">Please enter words to match seperated by spaces:</label>
            <input name="array_of_words" id="array_of_words" type="text">

        <button type="submit">Submit</button>
    </form>
</body>
</html>
